# -----------------------------------------------
# ----  GitIgnore  ------------------------------
# ----  https://git-scm.com/docs/gitignore  -----
# -----------------------------------------------

# Create gitignore files automatically for with
# https://www.toptal.com/developers/gitignore

# -----------------------------------------------
# ----  IDEs  -----------------------------------
# -----------------------------------------------

.idea/
.vscode/

# -----------------------------------------------
# ----  git  ------------------------------------
# -----------------------------------------------

tests/bats_assert/
tests/bats_core/
tests/bats_support/
