---
name: Linting

on:
  pull_request:
  push:
    branches: [ main ]

permissions:
  contents: read

env:
  IMAGE_TAG_EC: v3.6.0
  IMAGE_TAG_SC: v0.11.0

jobs:
  EditorConfig:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Run the Linter
        run: |
          docker run --rm --tty                                         \
            --volume "${GITHUB_WORKSPACE}:/editorconfig:ro"             \
            --workdir '/editorconfig'                                   \
            "docker.io/mstruebing/editorconfig-checker:${IMAGE_TAG_EC}" \
            ec -config .editorconfig.json

  ShellCheck:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Run the Linter
        run: |
          set -e -u -o pipefail

          readarray -d '' FILES < <(find tests/ -maxdepth 1 -type f -iregex '.*\.bats' -print0)
          FILES+=('libbash')

          docker run --rm --tty                                    \
            --volume "${GITHUB_WORKSPACE}:/shellcheck:ro"          \
            --workdir '/shellcheck'                                \
            "docker.io/koalaman/shellcheck-alpine:${IMAGE_TAG_SC}" \
            shellcheck --rcfile=.shellcheckrc "${FILES[@]}"
