---
name: Testing

on:
  workflow_dispatch:
  push:
    branches: ['**']
    paths:
      - modules/**
      - tests/**
      - libbash

jobs:
  BATS:
    name: Run BATS
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Run test suite
        run: bash tests/bats_core/bin/bats --jobs 2 --no-parallelize-within-files --timing tests/*.bats
